<html ng-app="myApp">
    <head>
        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Non-libraries -->
        <script src="script.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body ng-controller="myController">

        <div class="shape">
        </div>
        <div class="shape" ng-repeat="shape in shapes" data-shape-id="{{shape.id}}">
        </div>

        <!-- START SIDE BAR -->
        <div id="side-nav-modal">
            <div id="side-nav-bar">
                <form action="" method="">
                    <p>
                    <label>Background</label>
                    <br>
                    <input ng-model="userCss.background">

                    <p>
                    <label>Opacity</label>
                    <br>
                    <input ng-model="userCss.opacity">

                    <p>
                    <label>Width</label>
                    <br>
                    <input ng-model="userCss.width">

                    <p>
                    <label>Height</label>
                    <br>
                    <input ng-model="userCss.height">

                    <p>
                    <label>Border Radius</label>
                    <br>
                    <input ng-model="userCss.borderRadius">

                    <p>
                    <span class="btn btn-default" ng-click="randomizeAll()">
                        Randomize everything!
                    </span>

                    <p>
                    <span class="btn btn-default" ng-click="addRandomShape()">
                        Add a randomized shape!
                    </span>

                    <p>
                    <span class="btn btn-default" ng-click="addShape()">
                        Add shape!
                    </span>
                </form>
            </div>
            <div id="side-nav-tab">
                <span class="glyphicon glyphicon-menu-hamburger">
            </div>
        </div>
        <!-- END SIDE BAR -->

    </body>
</html>